<html>
    <title></title>
    <head></head>
<body>
    <p>hello everyone</p>
    
<li class="nav-item">
	<a class="nav-link" href="/">Homes</a>
	</li>


	<li class="nav-item">
		<a class="nav-link" href="/about">About</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="/contact">Contact</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/profile">Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">subscription{{placeholder}}</a>
					</li>
</body>
</html>