<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	{{>header}}
<h1>Finally miustach us working</h1>

<li class="nav-item">
	<a class="nav-link" href="#">Homes</a>
	</li>


	<li class="nav-item">
		<a class="nav-link" href="#">About</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="#">Contact</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">subscription{{placeholder}}</a>
					</li>

</body>
</html>